.festivalsContainer {
  background-color: rgb(214, 250, 238);
  /* height: 100vh; */
  padding: 10px 0;
}

.festivalsContainer section {
  padding: 0 20px;
}
.pageHeading {
  text-align: center;
  font-size: 24px;
  color: rgb(63, 62, 62);
  font-family: "Roboto";
}

.monthContainer {
  padding: 20px 0;
  /* border-bottom: 2px solid rgb(97, 95, 95); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.monthContainer .monthName {
  font-size: 22px;
  color: black;
  font-family: "Roboto";
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
